.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkoutad{
    width: 100%;
    margin-bottom: 10px;
}
.checkouttitle{
    margin-right: 10px;
    padding:10px;
    border-bottom: 2px solid lightgrey;
}